.QuizPage {
    text-align: center;
  }
  
  .QuizPage h1 {
    font-size: 24px;
    margin: 20px;
  }
  
  .question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .options {
    list-style-type: none;
    padding: 0;
  }
  
  .option {
    margin-bottom: 10px;
  }
  
  .answer-feedback-correct {
    font-size: 24px;
    color: green;
  }
  
  .answer-feedback-incorrect {
    font-size: 24px;
    color: red;
  }
  
  .next-button {
    text-align: left;
    padding: 10px 20px;
    font-size: 16px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  check-answer-button {
    padding: 10px 20px;
    font-size: 16px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.correct-answer {
    color: green;
  }
  .wrong-answer {
    color: red;
  }
  
  .Results {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 20px;
  }
  
  .Results h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .Results p {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
  }
  
  .Results button {
    background-color: #0074cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .Results button:hover {
    background-color: #0054aa;
  }
  .dots{
    text-align: left;
  }
   
  